@model User

<form method="post">
	<input asp-for="Id" hidden/>
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Delete Category</h2>
			<hr />
		</div>
		<div class="mb-3 row">
			<label asp-for="Id" class="p-0"></label>
			<input asp-for="Id" disabled class="form-control" />
		</div>
		<div class="mb-3 row">
			<label asp-for="UserName" class="p-0"></label>
			<input asp-for="UserName" disabled class="form-control" />
		</div>
		<div class="mb-3 row">
			<label asp-for="Email" class="p-0"></label>
			<input asp-for="Email" disabled class="form-control" />
		</div>
		<div class="mb-3 row">
			<label asp-for="Role.Name" class="p-0">Role</label>
			<input asp-for="Role.Name" disabled class="form-control" />
		</div>
		<!-- Delete Button -->
		<div class="text-center mt-4">
			<button type="submit" class="btn btn-outline-danger btn-lg w-100">Delete</button>
		</div>
		<div class="text-center mt-4 ">
			<a asp-controller="User" asp-action="Index" asp-area="Admin" class="btn btn-outline-secondary form-control">
				Go Back
			</a>
		</div>
	</div>
</form>

@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial"/>
	}
}