@{
    var isHomeIndex = string.Equals(ViewContext.RouteData.Values["controller"].ToString(), "Home", StringComparison.OrdinalIgnoreCase) &&
                  string.Equals(ViewContext.RouteData.Values["action"].ToString(), "Index", StringComparison.OrdinalIgnoreCase);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PersonalWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PersonalWeb.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />

    <style>
        .center-screen {
            display: flex;
            justify-content: center; /* Centers horizontally */
            align-items: center;     /* Centers vertically */
            min-height: 90vh;       /* Makes the container take the full height of the screen */
        }
    </style>
</head>
<body>
@*     <header>
        <div class="container text-center py-3">
            <h1>@ViewData["Title"]</h1>
        </div>
    </header> *@
    <main role="main" class="pb-3 center-screen">
        @RenderBody()
    </main>

    @* @if (!isHomeIndex)
    { 
        <footer class="footer py-1">
            <p>&copy; 2024 - Personal App</p>
            <div class="container text-center">
                    <a asp-controller="Home" asp-action="Index" asp-area="Customer" class="btn btn-primary bg-dark">

                    Home <i class="bi bi-arrow-left-circle"></i>
                </a>
            </div>
        </footer>
    } *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>